<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>	Index</title>
  <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/navigation.ejs %>

<main>
  <h2>Food has always been my source of happiness. Is it same for you? Well, I assume it is! <br>
    For a foodler (foodie + traveller), a country like India is the best place to savour some <br>
    delectable dishes because of the country’s diverse culture that gives people a range of tastes on<br>
     to their plates. In fact, there ain’t a better way to experience the soul of India than trying out its<br>
      variety of food on offer. Now we all know, how huge India is, and its is practically impossible to visit <br>
      every state and city for a culinary experience. But what if we tell you that you no longer have to travel <br>
      like crazy to get that perfect food experience in India? What if we say that all the Indian food along with top <br>
      international cuisines can be made available under one roof?! Yes, from scrumptious food to refreshing drinks to grooving music <br>
      to the cosy ambiance are all coming for you in varied food festivals in India. Excited to learn about them? Here! I present my<br>
       handpicked list of some top food festivals of India. </h2>
</main>
<% include partials/footer.ejs %>

</body>
</html>
