<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>	Index</title>
  <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body>
  <% include partials/header.ejs %> 


  <% include partials/navigation.ejs %>



<main>
  <h2>
    Indian Food festivals <br>
      Manjusha Anand  <br>
      email- myerurma@uncc.edu <br>
      Phone- +1 9848022338  <br>
 </h2>
</main>

<% include partials/footer.ejs %>

</body>
</html>
