<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>	Index</title>
  <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/navigation.ejs %>

<main>

<h2> Welcome to our Website.Our festival has always been a means of uniting communities through celebrations of harvests and giving thanks for a plentiful growing season. </h2>
</main>


<% include partials/footer.ejs %>

</body>
</html>
